:root {
    --background-primary-color: #0E1115;
    --background-secondary-color: #15181E;
    --font-primary-color: #FFF;
    --font-secondary-color: #6E7A8D;
    --font-tertiary-color: #C8D1DA;
    --accent-color: #942cc8;
}